<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="POS_C.Properties.Settings.POSConnectionString" connectionString="Data Source=|DataDirectory|\POS.sdf;Password=mcnutnut"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="POS_C.Properties.Settings.POS2ConnectionString" connectionString="Data Source=|DataDirectory|\POS2.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>